.block-title {
  /* font-size: 24px; */
  text-transform: uppercase;
  /* color: #333; */
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.label-wrap {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-box {
  width: 130px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30%;
  transform: rotate(45deg);
  margin: 25px;
}
.skills-wrapper {
  margin: 50px 0 0 0;
}
