/*-------------------------------------------------------------------

                        1. Global Style

-------------------------------------------------------------------*/

main {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 2;
}

/* texts */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 500;
  /* color: #333; */
  letter-spacing: 1px;
}

h1 {
  font-size: 30px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-size: 15px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
}

/*-------------------------------------------------------------------

                        2. Home Page Style

-------------------------------------------------------------------*/

.cover_overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: fixed;
  width: 100%;
}

/*-------------------------------------------------------------------

                        3. Base Styles

-------------------------------------------------------------------*/

.block_decoration {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: table;
  transition: all 0.5s;
  z-index: 1;
}

.dark .block_decoration {
  border: 1px solid rgba(51, 51, 51, 0.4);
}

.empty {
  display: none;
  top: -97px;
  height: 200px;
  left: 562px;
  transform: rotate(-34deg);
  left: 599px;
  border-right: none;
}

.empty_2 {
  top: 53px;
  height: 200px;
  left: 1241px;
  width: 200px;
  border-bottom: none;
  border-left: none;
  transform: rotate(-34deg);
}

.empty_2 > * {
  display: table-cell;
  vertical-align: middle;
  transform: rotate(34deg);
}

/* .empty_2 {} */

@media (min-width: 1920px) {
  .empty {
    display: block;
  }
}

/*-------------------------------------------------------------------

                        4. Main Block Styles

-------------------------------------------------------------------*/
.main_block {
  transform: rotate(-34deg);
  width: 700px;
  height: 700px;
  left: 122px;
  top: 90px;
  border-right: none;
}

.mb_container {
  display: table-cell;
  vertical-align: middle;
  padding-left: 240px;
  transform: rotate(34deg);
}

.mb_container h1 {
  font-size: 50px;
}

.mb_container h1,
.mb_container h2 {
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.mb_container h2 {
  font-size: 26px;
  min-height: 26px;
}

.mb_container h1 span {
  font-size: 26px;
  font-weight: 300;
  display: block;
  text-transform: capitalize;
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .main_block {
    left: -190px;
    top: 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .main_block {
    left: -200px;
    top: -80px;
  }
}

@media (max-width: 1024px) {
  .mb_container h1 {
    font-size: 40px;
    line-height: 1.1;
  }
  .mb_container h1 span,
  .mb_container h2 {
    font-size: 22px;
    min-height: 22px;
  }
  /* .menu2 .name-block {
    padding: 0 0 0 20px;
  }
  .menu2 .mb_container h1 {
    font-size: 50px;
  }
  .menu2 .mb_container h1 span,
  .menu2 .mb_container h2 {
    font-size: 26px;
    min-height: 26px;
  } */
}
@media (min-width: 981px) and (max-width: 1024px) {
  .main_block {
    left: -190px;
    top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .main_block {
    left: -190px;
    top: 10px;
  }
}

/*-------------------------------------------------------------------

                        4. Menu Styles

-------------------------------------------------------------------*/
.menu_block {
  display: block;
  position: absolute;
  width: 430px;
  display: table;
  transition: all 0.5s;
  z-index: 1;
  transform: rotate(-34deg);
  box-sizing: border-box;
}

.menu_block:hover {
  border: 15px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
}

.menu_block h2 {
  position: relative;
  color: #fff;
  margin: 50px;
  font-size: 28px;
  font-weight: 600;
  transition: all 1s ease-out;
}

.menu_block h2::after {
  position: absolute;
  content: "";
  top: -10px;
  left: -20px;
  width: 70px;
  height: 1px;
  background: #fff;
  transition: all 0.5s ease;
}

.menu_block:hover h2::after {
  top: 28px;
  left: 3px;
}
.menu_block > * {
  display: table-cell;
  vertical-align: middle;
  transform: rotate(34deg);
}

.menu_block__about,
.menu_block__portfolio {
  border-bottom: none;
}

.menu_block__about {
  height: 300px;
  left: 702px;
  top: -60px;
}

.menu_block__portfolio {
  height: 400px;
  left: 897px;
  top: 179px;
  z-index: 1;
}

.menu_block__skills {
  height: 300px;
  left: 1092px;
  top: 518px;
}

.menu_block__contact {
  height: 400px;
  left: 1389px;
  top: 138px;
  border-left: none;
}

.menu_block__about .block_container {
  display: table-cell;
  vertical-align: middle;
  padding: 150px 0 0 70px;
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .menu_block__about {
    left: 382px;
    top: -151px;
  }

  .menu_block__portfolio {
    left: 577px;
    top: 89px;
  }

  .menu_block__skills {
    left: 772px;
    top: 428px;
  }

  .menu_block__contact {
    left: 1067px;
    top: 48px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .menu_block__about {
    left: 419px;
    top: -160px;
    width: 350px;
    height: 300px;
  }

  .menu_block__portfolio {
    left: 586px;
    top: 88px;
    width: 350px;
    height: 300px;
  }

  .menu_block__skills {
    left: 753px;
    top: 335px;
    width: 350px;
    height: 300px;
  }

  .menu_block__contact {
    left: 900px;
    top: -70px;
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 981px) and (max-width: 1024px) {
  .menu_block__about {
    left: 382px;
    top: -150px;
  }

  .menu_block__portfolio {
    left: 577px;
    top: 89px;
  }

  .menu_block__skills {
    left: 772px;
    top: 428px;
  }

  .menu_block__contact {
    left: 365px;
    top: 538px;
    border-top: none;
    border-right: none;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
}
